<main class="index">
<div class="animate__animated animate__backInUp">
    <div class="container my-5">
        <div class="bg-dark p-5 text-white rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal mb-3 testo">Bienvenido a Pass-Saver</h1>
            <p class="fs-5 mb-3"><i> Este es un sitio web creado para que puedas guardar y/o almacenar los usuarios y contraseñas de tus sitios web favoritos, así procuras tener varias y estar manos expuesto/a a ataques de hackers o estafas. Tan solo tenes que recordar 1 contraseña para acceder a todas las otras que tengas, en cualquier lugar.</i></p>
            <p class="testo2">- Hacé click en "Mis contraseñas" para ver las listas de usuarios y contraseñas que tengas guardados</p>
            <p class="testo2">- Hacé click en "Añadir URL" para agregar una nueva instancia de usuario y contraseña en una página</p>
            <p class="testo2">- Si aún no tenes una cuenta, apretá en "registrarse", colocá tus datos y empezá a usar la página tranquilamente </p>
            <p class="testo2">- Si ya tenes una cuenta, apretá en "Logearse" para ingresar </p>
          </div>
        </div>
    </div>
  </div>
</main>