<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header boxo">
                    <h3><i><strong>Registrarse</strong></i></h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="post">
                        <div class="mb-3">
                            <input type="text" name="fullname" placeholder="Nombre" class="form-control" autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="card body mb-3 boxo">
                            <p>Recordá que una buena contraseña contiene:</p>
                            <p><strong>- Almenos 8 caracteres</strong></p>
                            <p><strong>- Uno o mas números</strong></p>
                            <p><strong>- Mayúsculas</strong></p>
                            <p><strong>- Espacios</strong></p>
                            <p><strong>- Uno o mas símbolos</strong></p>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success btn-block">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>