<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header boxo">
                    <h3>Logearse</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                    <img src="/img/logo.png" alt="logorl" class="card-img-top mx-auto m-2 w-50">
                    </div>
                    <form action="/signin" method="post">
                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-warning btn-block">
                                Logearse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>